user#show

<div class="container">
  <div class="row">
                <div class='col-xs-3'>
                    <h1>users show</h1>
                <h1>User info</h1>
                        <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpeg" ,size:'150x150'%>
                    <table class="table">
                        <tr>
                            <td><p>name</p></td>
                            <td><p><%= @user.name%></p></td>
                        </tr>
                        <tr>
                            <td><p>introduction</p></td>
                            <td><p><%= @user.introduction%></p></td>
                        </tr>
                    </table>

                    <% if @user.id == current_user.id %>
                      <%= link_to '編集', edit_user_path(@user.id) %>
                      <% end %>
                </div>

                <div class='col-xs-9'>
                <h2>musics</h2>
                    <table class="table" border="1">
                        <thead>
                            <tr>
                                <th>ジャケット</th>
                                <th>アルバム</th>
                                <th>アーティスト</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @user.musics.each do |music| %>
                              <tr>
                                <td><%= link_to user_path(music.user.id) do %>
                                    <%= attachment_image_tag music, :album_image, :fill, 150, 150, format: 'jpeg', fallback: 'no_image.jpeg' , size:'50x50' %>
                                        <% end %>
                                    </td>
                                <td><%= link_to music.album,music_path(music) %></td>
                                <td><%= music.singer %></td>
                              </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>

  </div>
</div>