<div class="body">
    <div class="container">
 <div class='row'>
                <div class='col-xs-3'>
                <h1>ユーザー</h1>
                        <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpeg" ,size:'150x150'%>
                    <table class="table">
                        <tr>
                            <td><p>ユーザー名</p></td>
                            <td><p><%= @user.name%></p></td>
                        </tr>
                        <tr>
                            <td><p>プロフィール</p></td>
                            <td><p><%= @user.introduction%></p></td>
                        </tr>
                    </table>

                    <% if @user.id == current_user.id %>
                          <%= link_to 'プロフィール編集', edit_user_path(@user.id), class: "btn btn-warning btn-sm btn-block" %>
                    <% end %>
                </div>

                <div class='col-xs-9'>
                <h2>投稿一覧</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ジャケット</th>
                                <th>アルバム</th>
                                <th>アーティスト</th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <% @user.musics.each do |music| %>
                              <tr>
                                <td><%= link_to user_path(music.user.id) do %>
                                    <%= attachment_image_tag music, :album_image, :fill, 150, 150, format: 'jpeg', fallback: 'no_image.jpeg' , size:'80x80' %>
                                        <% end %>
                                    </td>
                                <td><%= link_to music.album,music_path(music),:style=>"color:red;" %></td>
                                <td><%= music.singer %></td>
                                <% if user_signed_in? && music.user_id == current_user.id %>
                                <td><%= link_to '編集する', edit_music_path(music), class: "btn btn-primary" %></td>
                                <td><%= link_to '削除する', music_path(music), method: :delete, "data-confirm" => "投稿を削除してよろしいですか?", class: "btn btn-danger" %></td>
                                <% end %>
                              </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>

        <div class='row'>
            <div class='col-xs-3'>
                <p><%= "フォロー: #{@user.follower.count}" %></p>
                <p><%= "フォロワー: #{@user.followed.count}" %></p>
                <% unless @user == current_user %>
                  <% if current_user.following?(@user) %>
                    <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST,class: "btn btn-danger" %>
                  <% else %>
                    <%= link_to 'フォローする', follow_path(@user.id), method: :POST,class: "btn btn-warning" %>
                  <% end %>
                <% end %>
          </div>
          <div class='col-xs-9'>
              <h3>フォロー一覧</h3>
              <% @user.following_user.where.not(id: current_user.id).each do |user| %>
                <p>
                  <%= "ユーザー名: #{user.name}" %>
                  <% if current_user.following?(user) %>
                    <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST,class: "btn btn-danger btn-sm" %>
                  <% else %>
                    <%= link_to 'フォローする', follow_path(user.id), method: :POST,class: "btn btn-warning btn-sm" %>
                  <% end %>
                  <%= link_to "ユーザーページへ", user_path(user),class: "btn btn-default btn-sm" %>
                </p>
              <% end %>
            <h3>フォロワー一覧</h3>
              <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
                <p>
                  <%= "ユーザー名: #{user.name}" %>
                  <% if current_user.following?(user) %>
                    <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST,class: "btn btn-danger btn-sm" %>
                  <% else %>
                    <%= link_to 'フォローする', follow_path(user.id), method: :POST,class: "btn btn-warning btn-sm" %>
                  <% end %>
                  <%= link_to "ユーザーページへ", user_path(user),class: "btn btn-default btn-sm" %>
                </p>
              <% end %>
          </div>
      </div>

  </div>
</div>