<div class="body">
  <div class="container">


<ul class="bxslider">
<li><%= image_tag 'music1.png', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'music9.png', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'music2.png', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'music4.png', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'music3.png', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'music6.png', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'music7.jpg', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'music8.png', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'music5.jpg', :width => '1450', :height => '500' %></li>
</ul>
</ul>
</ul>

<h2 align="center">さあ、音楽をシェアしよう。</h2>

  </div>
</div>