

<ul class="bxslider">
<li><%= image_tag 'sample1.jpg', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'sample2.jpg', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'sample3.jpg', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'sample4.jpg', :width => '1450', :height => '500' %></li>
<li><%= image_tag 'sample5.jpg', :width => '1450', :height => '500' %></li>
</ul>

<h2 align="center">さあ、音楽をシェアしよう。</h2>