musics#index ログイン中

<%= link_to '新規投稿', new_music_path %>

<div class='col-xs-9'>
      <h2>musics</h2>
      <table class="table table-striped" border="1">
          <thead>
            <tr>
              <th>画像</th>
              <th>アーティスト</th>
              <th>アルバム</th>
              <th>評価</th>
            </tr>
          </thead>
          <tbody>
            <% @musics.each do |music|%>
              <tr>
                <td>
                    <%= attachment_image_tag music, :album_image, :fill, 40, 40, format: 'jpg',fallback: "no_image.jpg" ,size:'50x50'%>
                </td>
                <td><%= music.singer %></td>
                <td><%= music.album %></td>
                  <!--星評価-->
                <td>
                  <div id="star-rate-<%= music.id %>"></div>
                  <script>
                  $('#star-rate-<%= music.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= music.rate %>,
                  });
                  </script>
                <!--/星評価-->
                <%= music.rate %>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
    </div>


