<div class="body">
  <div class="container">

    <% if @music.errors.any? %>
      <div id="error_explanation">
        <h3><%= @music.errors.count %> 件のエラーがあります:</h3>
        <ul>
          <% @music.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<h2 align="center">アルバム投稿</h2>
      <%= form_for(@music) do |f| %>
      <div class="row">
            <b>アルバム画像</b>
            <div id="image_view"></div>
            <%= attachment_image_tag @music, :album_image, :fill, 250, 250, fallback: "no_image.jpg", id:"orgin_img" %>
           <label for="image_btn">
            <%= f.attachment_field :album_image, id: "image_btn" %>
           </label>
        </div>
            <table class="table">
              <div class='col-xs-9'>
                <tbody>
                  <tr>
                    <td><b>アーティスト名</b></td>
                    <td><%= f.text_field :singer,placeholder: "アーティスト名入力" %></td>
                  </tr>
                  <tr>
                    <td><b>アルバム名</b></td>
                    <td><%= f.text_field :album,placeholder: "アルバム名入力" %></td>
                  </tr>
                  <tr>
                  <td><b>ジャンル</b></td>
                  <td><%= f.collection_select :genre_id, Genre.all, :id, :name, :include_blank => "-- 選択してください --" %></td>
                  </tr>

                  <tr>
                  <!-- 評価 -->
                    <td>
                      <div class="form-group row" id="star">
                          <%= f.label :rate,'評価', class:'col-md-1 col-form-label' %>
                          <%= f.hidden_field :rate, id: :review_star %>
                      </div>
                    </td>
                    </tr>
                  <tr>
                    <td><b>YouTubeのURL</b></td>
                    <td><%= f.text_area :url,placeholder: "URL入力" %></td>
                  </tr>
                  <tr>
                    <td><b>レビュー内容</b></td>
                    <td><%= f.text_area :introduction,placeholder: "レビュー内容" %></td>
                  </tr>
              </tbody>
             </div>
            </table>
            <%= f.submit '投稿する',class: "btn btn-success col-xs-4 col-xs-offset-4" %>
        <% end %>

      <script>
      $(function() {
          $('#image_btn').on('change', function(e) {
              // 1枚だけ表示する
              var file = e.target.files[0];
              console.log(file);
              if ( !file ){
                  $('#image_view').html("");
                  $('#orgin_img').show();
                  return;
              }
              // ファイルリーダー作成
              var fileReader = new FileReader();
              if (file.type == 'video/mp4') {
                  var dom = $("<video>");
              }
              else{
                  var dom = $("<img>");
              }
              dom.attr('style','width:20%');
              fileReader.onload = function() {
                  // Data URIを取得
                  console.log(this.result);
                  var dataUri = this.result;
                  dom.attr('src', dataUri);
                  // img要素に表示
                  $('#image_view').html(dom);
              }
              // ファイルをData URIとして読み込む
              fileReader.readAsDataURL(file);
              $('#orgin_img').hide();
          });
      });
      </script>

      <!-- 評価javascript -->
      <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'music[rate]',
        half: true,
      });
      </script>

<%= link_to "一覧へ戻る",musics_path, class: "btn btn-primary col-xs-4 col-xs-offset-4" %>

  </div>
</div>