<div class="body">
  <div class="container">

music#show
<div class="row">
<div class='col-xs-9'>
      <h2>album detail</h2>
      <table class="table table-striped" border="1">
        <thead>
          <tr>
            <th>ユーザー</th>
            <th>ジャケット</th>
            <th>アルバム</th>
            <th>アーティスト</th>
            <th>ジャンル</th>
            <th>コメント</th>
            <th>視聴先URL</th>
          </tr>
        </thead>
        <tbody>
              <tr>
                <td><%= link_to user_path(@music.user) do %>
                        <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: 'no_image.jpeg' , size:'50x50' %>
                        <%= @user.name %>
                    <% end %>
                </td>
                <td>
                    <%= attachment_image_tag @music, :album_image, :fill, 40, 40, format: 'jpg',fallback: "no_image.jpg" ,size:'50x50'%>
                </td>
                <td><%= @music.album %></td>
                <td><%= @music.singer %></td>
                <td><%= @music.genre.name %></td>
                <td><%= @music.introduction %></td>
                <td><%= Rinku.auto_link(@music.url, :all, 'target="_blank"').html_safe %></td>
              </tr>
        </tbody>
      </table>
</div>
</div>

<!-- いいね機能 -->
<% if @music.favorited_by?(current_user) %>
  <li>
    <%= link_to music_favorites_path(@music), method: :delete do %>
      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= @music.favorites.count %> いいね
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to music_favorites_path(@music), method: :post do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <%= @music.favorites.count %> いいね
    <% end %>
  </li>
<% end %>
<!-- ここまで -->

<!-- コメント機能 -->
<div class="row">
      <div class="comment-list bt style-2" id="comments">
              <h2 class="comment-count"><%= @music.comments.count %>件コメント</h2>
              <% @music.comments.each do |comment| %>
                      <%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
                      <%= comment.user.name %>
                      <%= comment.created_at.strftime('%Y/%m/%d') %>
                      <%= comment.comment %>
              <% end %>
          </div>

          <div class="section-title-wrapper style-1 v1 mt-30" id="divAddComment">
            <h3 class="section-title left">
              <span>コメント</span>
            </h3>
          </div>
          <%= form_for [@music, @comment] do |f| %>
          <div class="row">
             <div class="col-sm-12">
             <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
             </div>
          </div>
          <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
          <% end %>


      <%= link_to "Back",musics_path %>
</div>
<!-- ここまで -->

</div>
</div>